<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
<title>Devana Administration :: [[title]]</title> 
<!-- CSS for Main Menu  -->
<link rel="stylesheet" type="text/css" href="./include/css/slidingdoors.css">
<!-- CSS for TabContent  -->
<link rel="stylesheet" type="text/css" href="./include/css/tabcontent.css">
<!-- CSS for Main layout -->
<link rel="stylesheet" type="text/css" href="./include/css/main.css">
<!-- Misc JS -->
<script src="./include/javascript/misc.js"></script> 
<!-- TabContent JS -->
<script src="./include/javascript/tabcontent.js"></script> 
<style type="text/css">

</style>



<meta name="copyright" content="2009 I Putu Yoga Permana" />
<meta name="description" content="An Admin Panel For Devana, Want it too ? Check http://devana.eu/forum/viewtopic.php?f=20&t=81" />

</head> 
<body> 
<!-- [This Layout Optimized For 800x600px by po3t]-->
<center> 
 
<table cellspacing="0" cellpadding="3" style="width: 600px; border: solid 1px black; "> 
  <tr>
    <td colspan="3"> 
      <table width="100%" cellspacing="0" cellpadding="0"><tr><td width="65%" align="left">
	[[menu]]
      </td> 
      </table> 
      </td></tr> 
    </td> 
  </tr></table> 
  <table cellspacing="0" cellpadding="3" style="width: 600px; height: 500px; border: solid 1px black; margin-top: 2px;"> 
  <tr>
	
    <td valign="top" style="height: 100%;"> 
 
      <div style="width: 100%; height: 100%; text-indent: 4px; text-align: left;"> 
      <div class="big" width="100%"><b>[[title]]</b></div> 
	<div class="content">[[content]]</div>
	</div> 
    </td> 
  </tr> 
 
</table> 
 
	
<table cellspacing="0" cellpadding="3" style="width: 600px; border: solid 1px black; margin-top: 2px; display: table;" class="copyright"> 
  <tr> 
    <td width="100%" style="text-align: center;">
	<!-- [Info]
		You may not delete below to respect my work :]  
		Or maybe if you still want delete it, you can
		give me credits to your page or link back to 
		my site at "my-indonesia.info" or below
		"poetoegaul.multiply.com"
	-->
	DevAdm &copy; <a href="http://poetoegaul.multiply.com" title="Putu's Web">I Putu Yoga Permana</a><br/>Version 0.3.1 Beta
    </td> 

 
  </tr> 
</table> 
</center></body> 
</html>
[[debug]]
